<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><lw><a href="{{ site.homeurl }}">About</a></lw></li>
		<li><lw><a href="{{ site.homeurl }}">CV</a></lw></li>
		<li><lw><a href="{{ site.homeurl }}">Olympiadium</a></lw></li>
		<li><lw><a href="{{ site.homeurl }}mathematical-olympiads/">Mathematical Olympiads</a></lw></li>
		<li><lw><a href="{{ site.homeurl }}science-olympiads/">Science Olympiads</a></lw></li>
		<li><lw><a href="{{ site.homeurl }}computer-and-coding/">Computer and Coding</a></lw></li>
		<li><lw><a href="{{ site.homeurl }}templates/">Templates</a></lw></li>
		<li><lw><a href="{{ site.homeurl }}elements.html">Elements</a></lw></li>
		<li><lw><a href="{{ site.homeurl }}kmo-final">KMO Final</a></lw></li>
	</ul>
</nav>
